body {
	background-color: powderblue;
}

#output {
	height: 10%;

	font-family:monospace;
	font-size: large;
	text-shadow: 2px 1px 3px black;
	
	border: 1px solid black;
	border-radius: 5px;
	color:azure;
	background:cadetblue;

	padding:1rem;
}